*.class

.DS_Store

.mtj.tmp/
.metadata

bin/

.DS
*.jar
*.war
*.ear
*.aux
*.fls
*.log
*.gz
*.tex
*.out
*.fdb_latexmk

.DS_Store

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
